'use strict'

const mongoose = use('Mongoose')
const { Schema } = mongoose
const Model = use('Model')

/**
 * {{ name }}'s db Schema
 */
const {{ name }}Schema = new Schema({

})

/**
 * {{ name }}'s instance and static methods
 * @class
 */
class {{ name }} extends Model {

}

{{ name }}Schema.loadClass({{ name }})

module.exports = mongoose.model('{{ name }}', {{ name }}Schema)
