'use strict'

const BaseModel = use('Model')

/**
 * @class {{ name }}
 */
class {{ name }} extends BaseModel {
  static boot () {
    // Hooks:
    // this.addHook('preSave', () => {})
    // Indexes:
    // this.index({}, {background: true})
  }
  /**
   * {{ name }}'s schema
   */
  static get schema () {
    return {

    }
  }
}

module.exports = {{ name }}.buildModel('{{ name }}')
