'use strict'

const BaseModel = use('Model')

/**
 * @class {{ name }}
 */
class {{ name }} extends BaseModel {
  /**
   * {{ name }}'s schema
   */
  static get schema () {
    return {

    }
  }
}

module.exports = {{ name }}.buildModel('{{ name }}')
